[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;inode/directory;
Actions=testaction

[Desktop Action testaction]
Name=Test Action
Icon=edit-undo
Exec=echo "Test" | xmessage -file -
